.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* --------------------------- */

img.float_left {
  float: right;

  margin: 10px 10px 10px 0;
}
.react-datepicker-wrapper {
  width: auto !important;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerButton {
  width: 40%;
  margin-left: 30%;
}

.centerText {
  text-align: center;
}
