.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Global */
.margin-top-5 {
  margin-top: 5%;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* SideNav */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -300px;
  width: 19%;
  height: 100%;
  background-color: #87ceeb;
  transition: left 300ms ease-out;
}
.sidebar.active {
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 10;
}
.sidebar ol {
  margin-top: 40%;
  padding: 0 7%;
}
.sidebar li {
  list-style: none;
  height: 38%;
}
.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
}
.sidebar li a:hover {
  color: #000;
}
.hamburger {
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -65px;
  top: 10px;
  background-color: peru;
}
/* Dashboard */
.dashboard-container {
  width: 100%;
  max-width: 95%;
  height: 100vh;
  padding-left: 20%;
  padding-top: 1%;
}
.dashboard-container h3 {
  padding: 20px 0;
}
.dashboard-session-card {
  align-items: center;
  border-radius: 20px;
}
.dashboard-session-card a {
  text-decoration: none;
  color: #000;
}
.dashboard-session-card h5 {
  padding-top: 10px;
}
/* Home Page Card */
.photoCard {
  border-radius: 20px;
}
.photoCardImage {
  border-radius: 20px;
  width: 70%;
  display: block;
  margin: 10px auto;
}
/* Button */
.btn-primary {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
  color: black;
  font-size: 17px;
  border-radius: 30px;
  width: auto;
}
.btn-primary:hover {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  color: black;
  font-size: 17px;
}
.btn-primary:disabled {
  background-color: #777575;
  border-color: #777575;
  color: black;
  font-size: 17px;
}
/* Session Description */
.available-time-container {
  margin: 0px auto;
}
/* Forms */
.required-label {
  color: rgb(255, 0, 0);
}
.info-complete {
  background-color: rgb(163, 207, 163);
  border-radius: 30px;
  align-items: center;
}
.info-complete-text {
  text-align: center;
}
/* Contact */
.contact-form-input {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
}
.contact-form-container {
  margin: 15px auto;
}
/* Checkout Container */
.checkout-container {
  margin-top: 13%;
}
.checkout-row {
  text-align: center;
}
/* .paypal-button-container {
  margin: 30px auto;
  text-align: center;
  width: 40%;
} */
/* Calendar */
.fc-v-event .fc-event-main-frame {
  font-size: 12px !important;
}
.calendar-container {
  margin: 20px auto;
  padding-left: 17%;
}
.datepicker-input {
  width: inherit;
}
/* Create/ Edit Session */
.editor {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.rdw-editor-main {
  height: 75% !important;
}
.editor-wrapper {
  border: 1px solid black;
  padding: 5px;
  height: 300px;
}
.public-DraftStyleDefault-block {
  white-space: normal !important;
}
/* Responsive */
@media screen and (max-width: 768px) {
  /* Home Card Display */
  .photoCardImage {
    width: 90%;
  }
  /* Session Description */
  .available-time-container {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    width: 25%;
  }
  .dashboard-container {
    padding-left: 26%;
  }
}
