/* Calendar */
.fc-v-event .fc-event-main-frame {
  font-size: 12px !important;
}
/* Create/ Edit Session */
.editor {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.rdw-editor-main {
  height: 75% !important;
}
.editor-wrapper {
  border: 1px solid black;
  padding: 5px;
  height: 300px;
}
